{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="dashboard-container">
<h2>Welcome, {{ farmer.full_name }} 👋</h2>


 <div class="dashboard-summary">
  <div class="summary-card total">
    <h3>Total Applications</h3>
    <p>{{ total }}</p>
  </div>
  <div class="summary-card approved">
    <h3>Approved</h3>
    <p>{{ approved }}</p>
  </div>
  <div class="summary-card pending">
    <h3>Pending</h3>
    <p>{{ pending }}</p>
  </div>
  <div class="summary-card rejected">
    <h3>Rejected</h3>
    <p>{{ rejected }}</p>
  </div>
</div>

  
  <div class="dashboard-profile">
    <h3>Your Profile</h3>
    <p><strong>ID Number:</strong> {{ farmer.id_number }}</p>
    <p><strong>County:</strong> {{ farmer.county }}</p>
  <p><strong>Location:</strong> {{ farmer.ward }}, {{ farmer.sub_county }}</p>

    <p><strong>Farming Type:</strong> {{ farmer.farming_type }}</p>
  </div>
</div>
{% endblock %}
